.jingdian-banner{
    text-align: center;
    min-width: 1200px;
}
.jingdian-banner img{
    width: 100%;
}
.jingdian-body{
    min-width: 1200px;
}
.jingdian-section{
    padding-bottom: 35px;
    padding-top: 45px;
}
.jingdian-section .jingdian-title{
    position: relative;
    text-align: center;
    color: #bbab8c;
    font-size: 36px;
    overflow: hidden;
    font-weight: 300;
    margin-bottom: 20px;
}
.jingdian-section .jingdian-title span{
    position: absolute;
    display: inline-block;
    width: 650px;
    height: 1px;
    top: 25px;
    background-color: #dbc8a4;
}
.jingdian-section .jingdian-title span.span1{
    left: -210px;
}
.jingdian-section .jingdian-title span.span2{
    right: -210px;
}
.jingdian-content-row{
    margin-right: -10px;
    margin-top: 30px;
}
.jingdian-content-box{
    float: left;
    width: 297px;
    margin-right: 3px;
}
.shuhuan-box{
    width: 236px;
    margin-right: 4px;
}
.jingdian-content-box .box-top{
    width: 100%;
    height: 300px;
}
.shuhuan-box .box-top{
    height: 236px;
}
.jingdian-content-box .box-top img{
    width: 100%;
    height: 100%;
}
.jingdian-content-box .box-bottom{
    padding: 0 10px;
    height: 280px;
    margin-top: 5px;
    background-color: #f9f5f4;
}
.jingdian-content-box .box-title{
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 26px;
    color: #a7997d;
    opacity: 1;
}
.jingdian-content-box .box-content{
    color: #818285;
    font-size: 16px;
    text-shadow: 0 0 .1px #afb0b4;
    opacity: 1;
}
.nub{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #bbab8c;
    border-radius: 4px;
    margin-right: 5px;
}

.section2-img{
    position: relative;
    background-color: #000;
    cursor: pointer;
}
.section2-img img{
    opacity: 0.6;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.section2-img span{
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 300px;
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    top: 0;
    left: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.section2-img:hover span{
    opacity: 0;
}
.section2-img:hover img{
    opacity: 1;
}
.jingdian-section-left{
    margin-top: 20px;
    width: 835px;
    color: #818285;
    font-size: 20px;
    text-shadow: 0 0 .1px #afb0b4;
}
.jingdian-section-left p{
    margin-bottom: 15px;
}
.jingdian-row{
    margin-right: -70px;
}
.jingdian-box{
    float: left;
    width: 340px;
    margin-right: 60px;
}
.jingdian-box .d1{
    text-align: center;
    margin: 0 0 15px 0;
}
.jingdian-box .d2{
    width: 356px;
    height: 356px;
    border: 2px solid #e6dac4;
    border-radius: 10px;
}
.jingdian-section .shuiji-title{
    color: #89c5cf;
}
.jingdian-section .shuiji-title span{
    background-color: #93d5de;
}
.jingdian-section .shuhuan-title{
    color: #f19abe;
}
.jingdian-section .shuhuan-title span{
    background-color: #f19abe;
}
.jingdian-section .qudou-title{
    color: #7bc4a0;
}
.jingdian-section .qudou-title span{
    background-color: #7bc4a0;
}
.jingdian-section .jinfu-title{
    color: #d8bcd8;
}
.jingdian-section .jinfu-title span{
    background-color: #d8bcd8;
}
.jingdian-section .yanzhou-title{
    color: #95d0dc;
}
.jingdian-section .yanzhou-title span{
    background-color: #95d0dc;
}

.flexslider {
    margin: 0px auto 20px;
    position: relative;
    width: 100%;
    height: 648px;
    overflow: hidden;
    zoom: 1;
}

.flexslider .slides li {
    width: 100%;
    height: 100%;
}

.flex-direction-nav a {
    width: 70px;
    height: 70px;
    line-height: 99em;
    overflow: hidden;
    margin: -35px 0 0;
    display: block;
    background: url(../images/ad_ctr.png) no-repeat;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease;
    border-radius: 35px;
}

.flex-direction-nav .flex-next {
    background-position: 0 -70px;
    right: 0;
}

.flex-direction-nav .flex-prev {
    left: 0;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 2px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    background: url(../images/dot.png) no-repeat 0 -16px;
    display: none;
    height: 16px;
    overflow: hidden;
    text-indent: -99em;
    width: 16px;
    cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
    background-position: 0 0;
}

.flexslider .slides a img {
    width: 100%;
    height: 648px;
    display: block;
}















