.flexslider {
    margin: 0px auto 12px;
    position: relative;
    width: 100%;
    height: 648px;
    overflow: hidden;
    zoom: 1;
}
.flexslider1 {
    margin: 12px auto 12px;
    height: 600px;
}
.flexslider .slides li {
    width: 100%;
    height: 100%;
}

.flex-direction-nav a {
    width: 70px;
    height: 70px;
    line-height: 99em;
    overflow: hidden;
    margin: -35px 0 0;
    display: block;
    background: url(../images/ad_ctr.png) no-repeat;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease;
    border-radius: 35px;
}

.flex-direction-nav .flex-next {
    background-position: 0 -70px;
    right: 0;
}

.flex-direction-nav .flex-prev {
    left: 0;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    display: block;
    height: 36px;
    overflow: hidden;
    text-indent: -99em;
    width: 36px;
    cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
    background-position: 0 0;
}

.flexslider .slides a img {
    width: 100%;
    display: block;
}
.mouse-over{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 220px;
    text-align: center;
    background-color: rgba(0,0,0, .5);
    opacity: 0;
}
.mouse-over .main-title{
    font-size: 54px;
    font-weight: bold;
    color: #d4bd8c;
    text-shadow: -10px 10px 20px rgba(0,0,0, .9);
    margin: 55px 0 10px;
}
.mouse-over .sub-title{
    font-size: 20px;
    color: #d4bd8c;
}
.gongneng-row{
    margin-right: -15px;
}
.gongneng-box{
    margin-right: 11px;
}
.gongneng-box .box-top{
    position: relative;
    width: 393px;
    height: 221px;
    overflow: hidden;
}
div,img{
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.gongneng-box .box-top>div{
    border: 2px #fff solid;height: 60%;width: 60%;position: absolute;top: 20%;left: 20%;-webkit-transform: scale(1.2,1.2);transform: scale(1.2,1.2);opacity: 0;
}
.gongneng-box .box-top>div>a{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin: 20px 0 0 20px;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    opacity: 0;
}
.gongneng-box .box-top:hover img{
    -webkit-transform: scale(1.2,1.2);opacity: .5;
    transform: scale(1.2,1.2);opacity: .5;
}
.gongneng-box .box-top:hover div{
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    opacity: 1;
}
.gongneng-box .box-top:hover div a{
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    opacity: 1;
}
.gongneng-box .box-bottom{
    width: 393px;
    height: 385px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f2eee6;
}
.gongneng-box .box-zz{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -393px;
    background-color: rgba(0,0,0, .6);
    text-align: center;
    opacity: 0;
}
.gongneng-box .box-zz a{
    font-size: 26px;
    color: #fff;
    line-height: 221px;
}
.gongneng-box .box-bottom .title{
    text-align: center;
    padding: 80px 0 30px;
    color: #000;
    font-size: 28px;
    font-weight: 400;
}
.gongneng-box .box-bottom .body{
    padding: 0 30px;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    line-height: 180%;
}
.fenxiang-img{
    margin-top: 12px;
    margin-bottom: 12px;
}
.pifu-test-row .left{
    width: 596px;
    height: 596px;
    background: url("../images/pifuguanli-img4.jpg") no-repeat;
    background-size: cover;
}
.pifu-test-row .right{
    width: 596px;
    height: 596px;
    background: url("../images/pifuguanli-img5.jpg") no-repeat;
}
.yuyue-btn{
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 240px 0 0 240px;
    cursor: pointer;
}
.pup-pifu-test{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}
.pup-test-body{
    position: relative;
    width: 1200px;
    margin: 150px auto 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #fff;
    -moz-box-shadow: 0 0 10px #fff ;
    box-shadow: 0 0 30px #000;
    background-color: #fff;
}
@media (max-width: 1601px) {
    .pup-test-body{
        zoom: 0.85;
    }
}
@media (max-width: 1400px) {
    .pup-test-body{
        zoom: 0.7;
    }
}
.close-btn{
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 5px 5px 0 0
}
.pup-pifu-test ul{
    width: 999999px;
    position: relative;
    /*left: -7200px;*/
}
.pup-pifu-test ul li{
    float: left;
    width: 1200px;
    height: 600px;
    box-sizing: border-box;
    padding: 140px 50px 0 160px;
}
.pup-pifu-test ul li div{
    display: inline-block;
}
.test1-btn,.test2-btn{
    width: 120px;
    height: 165px;
    margin-right: 66px;
    margin-bottom: 30px;
}
.test3-btn{
    width: 220px;
    height: 365px;
    margin-left: -15px;
    margin-right: 20px;
}
.test4-btn,.test5-btn{
    width: 295px;
    height: 300px;
    margin-top: -10px;
    margin-left: -12px;
    margin-right: 18px;
}
.test5-btn{
    height: 325px;
}
.test6-btn{
    width: 220px;
    height: 315px;
    margin-top: -10px;
    margin-left: -15px;
    margin-right: 20px;
}
.test7-btn{
    width: 175px;
    height: 295px;
    margin: -8px 13px 0 -10px;
}
.report{
    height: 600px;
    width:1250px;
    overflow-y: scroll;
    padding: 0;
}
.report img{
    width: 1200px;
    margin-bottom: 10px;
}
.report-ten{
    width: 1200px;
    height: 600px;
    background: url("../images/report-ten.jpg") no-repeat;
}
.input-grounp{
    position: relative;
    z-index: 10;
    padding: 428px 0 0 185px;
}
.input-grounp input[type=text]{
    width: 188px;
    height: 34px;
    line-height: 34px;
    background-color: transparent;
    border: none;
    color: #fff;
}
.input-grounp input:focus,.select-group select:focus{
    outline: none;
    border: none;
}
.input-phone{
    margin-left: 82px;
}
.input-yzm{
    margin-left: 243px;
}
.input-grounp input[type=button]{
    position: absolute;
    z-index: 11;
    top: 424px;
    border: none;
    left: 693px;
    width: 185px;
    height: 40px;
    cursor: pointer;
    background: transparent;
}
.send-btn-cover{
    position: absolute;
    z-index: 12;
    top: -4px;
    border: none;
    left: 508px;
    width: 185px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}
.select-group{
    margin: 33px 0 0 180px;
}
.select-group select{
    background: transparent;
    color: #fff;
    border: none;
    width: 178px;
    padding-right: 30px;
}
.select-group select option{
    color: #333;
}
.select-group select.city{
    margin-left: 55px;
    width: 228px;
}
.select-group select.year{
    width: 102px;
    margin-left: 112px;
    padding: 0;
}
.select-group select.month{
    width: 90px;
    margin-left: 23px;
    padding: 0;
}
.select-group select.day{
    width: 90px;
    margin-left: 8px;
    padding: 0;
}
.pifu-fenxiang{
    height: 600px;
    position: relative;
}
#pTool{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: url("../images/video-bg.jpg") no-repeat;
}