
@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure{margin:0;padding:0;}
div{margin:0;padding:0;background-position:0;}
form{margin: 0px; padding:0px;}
a{text-decoration:none;color: #000000;}
img{border:none;}
ul,dl,li{list-style-type: none;}
.clear{ clear:both}
.marnone{ margin:0px;}
.fl{ float:left}
.fr{ float:right}
.disnone{ display:none;}
.ie6fixedTL{position:fixed;left:0;top:0}
.ie6fixedBR{position:fixed;right:0;bottom:0}
*{margin: 0;padding: 0;}
body {
    font: 14px/1.4 "Microsoft Yahei",verdana;
    position: relative;
    z-index: 1;
}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;}
*html.clearfix{zoom:1;}/*IE6*/
*:first-child+html.clearfix{zoom:1;}/*IE7*/
.container{
    width: 1200px;
    margin: 0 auto;
}
.font-en{
    font-family: sans-serif;
}
/*头部menu*/
#header{z-index:999;}
.logo_div{ width:100%; height:46px;position:absolute;padding-top:25px;}
.logo{  width:1101px; height:46px; margin:0 auto}
.logo_a{
    /*background:url(../images/logo.png) no-repeat;background-size:258px 46px; display:block; float:left;*/
    background:url(../images/sub-logo.png) no-repeat;background-size:316px 27px; margin-top:10px}
.logo_r{ float:right; display:inline; padding-top:10px;}
.logo_r li{ float:left}
.logo_r a{ margin-right:20px; font-size:16px; color:#fff; letter-spacing:2px;}
.logo_r a:hover{color:#be9e7f;}


.daohang img{ padding-top:20px; float:left; margin:0 auto; }
.daohang{ width:127px; margin:0 auto;display:block; line-height:74px; font-size:18px;letter-spacing:2px;}
a.daohang_a{ width:275px; height:74px; display:block; float:left;text-align:center }



.runfangke-header-log {
    color: #fff;
}
.runfangke-header {
    font-size: 16px;
}
.runfangke-header a,
.runfangke-header-sub a {
    color: #a47c59;
    text-decoration: none;
}
.runfangke-header-sub a {
    color:#666;
    text-decoration: none;
}

.runfangke-header a.hover,
.runfangke-header a:hover,
.runfangke-header-sub a.hover,
.runfangke-header-sub a:hover {
    color:#be9e7f;
}
.runfangke-header p,
.runfangke-header-sub p {
    margin: 0;
    padding: 0;
}
.runfangke-header-wrap {
    width: 1200px;
    margin: 0 auto;
    position:relative;
    height:69px
}
.runfangke-header-wrap-sub {
    width: 1200px;
    margin: 0 auto;
}
.runfangke-header-logo {
    display: inline;
    float: left;
    height:69px;
    margin-left: 0;
    margin-top: 7px;
}
.down .runfangke-header-logo ,.runfangke-header-logo{
    display: inline;
    float: left;
    margin-top: 10px;
}
.down nav.runfangke-header-logo ,nav.runfangke-header-logo{
    display: inline;
    float: left;
}
.runfangke-header-logo h1 a {
    font-size:0px;
    overflow:hidden;
    text-indent:-1200px;
    display: block;
    /*width: 158px;*/
    /*height: 20px;*/
    /*background:url(../images/logo.png) no-repeat;background-size:158px 20px; margin-top:15px;*/
    width: 316px;
    height: 27px;
    background:url(../images/sub-logo.png) no-repeat;background-size:316px 27px; margin-top:10px;
}
.down .runfangke-header-logo h1 a,.runfangke-header-logo h1 a{
    margin-top: 3px;
}
.runfangke-header-fdj{ width:19px; height:19px; background:url(../images/sousuo-bai.png) no-repeat; display:inline-block;padding-left:10px; position:relative; top:3px; border:0}
a.runfangke-header-fdj:hover{background:url(../images/sousuo-jin.png) no-repeat;}
.nav_menu{ position:absolute; right:0}
.search{ height:24px; line-height:24px; margin-top:15px; padding-left:34px; overflow:hidden; position:relative}

.search_inp{ background:#fff;border-radius:5px; border:1px solid #d9d9d9; height:22px; line-height:22px; width:0; margin-left:10px;opacity:0; position:absolute; left:0; padding-left:26px;outline:none;}
.search_icon{ position:absolute; left:14px;outline:none;}
.w_bor{ border:1px solid #fff}
.down .runfangke-header-fdj,.runfangke-header-fdj{ width:19px; height:19px; background:url(../images/sousuo-jin.png) no-repeat; display:block;padding-left:10px}
.down a.runfangke-header-fdj:hover,a.runfangke-header-fdj:hover{background:url(../images/sousuo-jin.png) no-repeat;}
nav.toggle .runfangke-header-fdj{ width:19px; height:19px; background:url(../images/sousuo-jin.png) no-repeat; display:block;}
nav.toggle a.runfangke-header-fdj:hover{background:url(../images/sousuo-jin.png) no-repeat;}
.runfangke-header-link {
    display: inline;
}
.runfangke-header-link li {
    display: inline;
    float: left;
    position: relative;
}
.runfangke-header-link li.first-menu:hover{
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.runfangke-header-link>li>ul{
    display: none;
    position: absolute;
    top: 80%;
    left: 0;
    background: #fff;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.runfangke-header-link>li>ul>li{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    line-height: 37px;
    display: block;
    padding-left: 10px;
    border-top: 1px solid #a47c59;
    position: relative;
}
.runfangke-header-link>li>ul>li:hover{
    background-color: #eee;
}
.runfangke-header-link>li>ul>li a:hover{
    color: #795d1d;
}
.runfangke-header-link>li>ul>li>ul{
    position: absolute;
    left: 100%;
    top: -1px;
    display: none;
    border-radius: 3px;
    width: 125px;
    background-color: #fff;
    border-top: 1px solid #a47c59;
    overflow: hidden;
}
.runfangke-header-link li>ul>li>ul>li{
    height: 38px;
    line-height: 37px;
    border-bottom: 1px solid #a47c59;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}
.runfangke-header-link>li>a {
    display: block;
    padding: 0px 10px;
    font-size:16px;
    letter-spacing:1px;
    height:69px;
    line-height:65px;
    color:#a47c59
}
nav.toggle .runfangke-header-link>li>a {
    display: block;
    padding: 0px 10px;
    font-size:16px;
    letter-spacing:1px;
    height:69px;
    line-height:65px;
    color:#a47c59
}

.down .runfangke-header-link>li>a ,.runfangke-header-link>li>a {
    display: block;
    padding: 0px 10px 0px 10px;
    font-size:16px;
    letter-spacing:1px;
    height:69px;
    line-height:55px;
    color:#a47c59
}
.down nav.toggle .runfangke-header-link>li>a ,nav.toggle .runfangke-header-link>li>a {
    display: block;
    padding: 0px 10px 0px 10px;
    font-size:16px;
    letter-spacing:1px;
    height:69px;
    line-height:55px;
}
.down nav.toggle .runfangke-header-link a,nav.toggle .runfangke-header-link a{
    color:#a47c59
}
.runfangke-header-log {
    display: inline;
    float: right;
    padding: 32px 0 0 30px;
    text-align: right;
    font-size: 12px;
}
/*.runfangke-header-link .hover a.runfangke-header-link-product-a{ background:#f00}*/
.runfangke-header-link .hover a.runfangke-header-link-product-a{ height:79px;background:url(../images/nav-hover.png) center center no-repeat; color:#c49664}

.down .runfangke-header,.runfangke-header{ width:100%;  height:69px;background:url(../images/banner_bai.png) center center no-repeat;}
.down nav.toggle .runfangke-header,nav.toggle .runfangke-header{ width:100%;  height:69px; background:none}


/**侧栏跟随效果**/
#sidebar{position:absolute;z-index:999;}
#sidebar ul li{ width:62px; height:62px; line-height:62px; background:#875f50; margin-top:2px; text-align:center;position: relative;}
#sidebar ul li.first{ border:0; background:none; height:63px}
#sidebar ul li i{ display:inline-block; width:62px; height:62px; float:left}
#sidebar ul li i.top{ width:62px; height:62px; margin-top:0}
#sidebar ul li .ht{width:62px; height:62px; position:absolute; left:-350px; background:#00F; top:0px; opacity:0; display:none}
#sidebar ul li .ht_iphone,#sidebar ul li .ht_weixin{width:226px;height:217px;top:-73px}
#sidebar ul li .ht_iphone{ background:url(../images/menu/dhh.png) no-repeat}
#sidebar ul li .ht_weixin{ background:url(../images/menu/wxh.png) no-repeat; top:-83px}
.top{ background:url(../images/menu/top.png) no-repeat;}
.dh{ background:url(../images/menu/dh.png) no-repeat center center;}
.wx{ background:url(../images/menu/wx.png) no-repeat center center}
.wb{ background:url(../images/menu/wb.png) no-repeat center center}
.wb_s{ background:url(../images/menu/wb_s.png) no-repeat center center; width:44px; height:36px}
/**滑动**/
#sidebar ul li .sidebox{position:absolute;width:62px;height:62px;top:0;right:0;transition:all 0.3s;background:#875f50;opacity:1;filter:Alpha(opacity=100);color:#fff;font:14px/62px "Microsoft YaHei";overflow:hidden;}
#sidebar ul li span{ position:relative;right:8px}
