
/*head*/
#header{z-index:999;background:url(../images/banner_bai.png) center center no-repeat; height:69px;}
.logo_div{ width:100%; height:49px;position:absolute;padding-top:26px;}
.logo{  width:1101px; height:49px; margin:0 auto}
.logo_a{ background:url(../images/logo.png) no-repeat; display:block;background-size:260px 49px; float:left}
.logo_r{ float:right; display:inline; padding-top:10px;}
.logo_r li{ float:left}
.logo_r a{ margin-right:20px; font-size:16px; color:#fff; letter-spacing:2px;}
.logo_r a:hover{color:#be9e7f;}


.daohang img{ padding-top:20px; float:left; margin:0 auto; }
.daohang{ width:127px; margin:0 auto;display:block; line-height:74px; font-size:18px;letter-spacing:2px;}
a.daohang_a{ width:275px; height:74px; display:block; float:left;text-align:center }
/*banner*/
.sub-banner{
    min-width: 1200px;
    height: 711px;
    background:  no-repeat center top;
}
.jichu4-banner{
    background-image: url("../images/jichu4-banner.jpg");
    height: 696px;
}
.fanghu-banner{
    background-image: url("../images/fanghu-banner.jpg");
    height: 771px;
}
.fanghu2-banner{
    background-image: url("../images/fanghu2-banner.jpg");
    height: 775px;
}
.tanli1-banner{
    background-image: url("../images/sub-tanli-banner.jpg");
}
.jichu2-banner{
    background-image: url("../images/jichu2-banner.jpg");
    height: 701px;
}
.jichu3-banner{
    background-image: url("../images/jichu3-banner.jpg");
    height: 688px;
}
.jichu1-banner{
    background-image: url("../images/jichu1-banner.jpg");
    height: 701px;
}
.jiemian2-banner{
    background-image: url("../images/jiemian2-banner.jpg");
    height: 795px;
}
.jiemian-banner{
    height: 794px;
    background-image: url("../images/jiemian-banner.jpg");
}
.tanli2-banner{
    background-image: url("../images/tanli2-bannerbg.jpg");
    height: 811px;
}
.jichu4-banner img{
    margin: 185px 0 0 400px;
}
.tanli1-banner img{
    margin: 200px 0 0 400px;
}
.jichu3-banner img{
    margin: 180px 0 0 500px;
}
.jichu2-banner img{
    margin: 200px 0 0 570px;
}
.jichu1-banner img{
    margin: 200px 0 0 570px;
}
.jiemian2-banner img{
    margin: 270px 0 0 260px;
}
.jiemian-banner img{
    margin: 270px 0 0 300px;
}
.tanli2-banner img.left{
    margin: 280px 0 0 0;
}
.fanghu-banner img,.fanghu2-banner img{
    margin-top: 250px;
}
.sub-logo{
    margin-left: 0;
}
.runfangke-header-logo h1 a {
    font-size:0;
    overflow:hidden;
    text-indent:-1200px;
    display: block;
    width: 316px;
    height: 27px;
    background:url(../images/sub-logo.png) no-repeat;background-size:316px 27px; margin-top:10px;
}
/*ÄÚÈÝ²¿·Ö*/
.sub-section{
    min-width: 1200px;
    background: center top no-repeat;
}
.sub-section1{
    color: #a47c59;
    padding-top: 120px;
    background-image: url("../images/tanli-img1.jpg");
    height: 882px;
}
.jichu1-section1{
    height: 591px;
    background-image: url("../images/jichu1-img1.jpg");
    padding-top: 60px;
}
.jiemian2-section1{
    padding-top: 90px;
    background-image: url("../images/jiemian2-img1.jpg");
    height: 758px;
}
.jiemian-section1{
    background-image: url("../images/jiemian-img1.jpg");
    height: 738px;
}
.fanghu-section1{
    padding-top: 80px;
    background-image: url("../images/fanghu-img1.jpg");
    height: 722px;
}
.tanli2-section1{
    color: #a47c59;
    padding-top: 120px;
    background-image: url("../images/tanli2-img1.jpg");
    height: 959px;
}
.sub-section2{
    color: #a47c59;
    font-weight: 400;
    padding-top: 120px;
    background-image: url("../images/tanli-img2.jpg");
    height: 960px;
}
.jiemian2-section2{
    padding-top: 100px;
    background-image: url("../images/jiemian2-img2.jpg");
    height: 983px;
}
.jiemian-section2{
    padding-top: 80px;
    background-image: url("../images/jiemian-img2.jpg");
    height: 1003px;
}
.fanghu-section2{
    padding-top: 120px;
    background-image: url("../images/fanghu-img2.jpg");
    height: 963px;
}
.tanli2-section2{
    color: #a47c59;
    padding-top: 120px;
    background-image: url("../images/tanli2-img2.jpg");
    height: 1083px;
}
.sub-section3{
    color: #a47c59;
    padding-top: 80px;
    background-image: url("../images/tanli-img3.jpg");
    height: 1015px;
}
.sub-section4{
    color: #8c8c8c;
    padding-top: 80px;
    background-image: url("../images/tanli-img4.jpg");
    height: 1221px;
}
.jiemian2-section4{
    padding-top: 20px;
    background-image: url("../images/jiemian2-img4.jpg");
    height: 1309px;
}
.jiemian-section4{
    padding-top: 80px;
    background-image: url("../images/jiemian-img4.jpg");
    height: 1334px;
}
.fanghu-section4{
    padding-top: 40px;
    height: 1276px;
    background-image: url("../images/fanghu-img4.jpg");
}
.fanghu2-section4{
    background-image: url("../images/fanghu2-img4.jpg");
    padding-top: 40px;
    height: 1292px;
}
.tanli2-section4{
    padding-top: 140px;
    background-image: url("../images/tanli2-img4.jpg");
    height: 1391px;
}
.sub-section5{
    color: #8c8c8c;
    font-weight: 400;
    padding-top: 50px;
    background-image: url("../images/tanli-img5.jpg");
    height: 344px;
    z-index: 2;
}
.jiemian-section5{
    margin-top: -110px;
}
.tanli5-section5{
    margin-top: -140px;
}
.sub-section6{
    color: #8c8c8c;
    margin-top: 15px;
    padding-top: 75px;
    background-image: url("../images/sectionbg.jpg");
    background-repeat: repeat-x;
    height: 433px;
    z-index: 1;
}
.tanli6-section6{
    height: 500px;
}
.sub-section7{
    padding-top: 150px;
    background-image: url("../images/tanli-img7.jpg");
    height: 1967px;
}
.jiemian2-section7{
    padding-top: 150px;
    background-image: url("../images/jiemian2-img7.jpg");
    height: 1020px;
}
.jiemian-section7{
    padding-top: 90px;
    background-image: url("../images/jiemian-img7.jpg");
    height: 1395px;
}
.fanghu-section7{
    background-image: url("../images/fanghu-img7.jpg");
    height: 1176px;
}
.fanghu2-section7{
    background-image: url("../images/fanghu2-img7.jpg");
    height: 1219px;
}
.tanli2-section7{
    padding-top: 150px;
    background-image: url("../images/tanli2-img7.jpg");
    height: 2189px;
}
.jiemian-section8{
    padding-top: 90px;
    height: 470px;
    background: url("../images/sectionbg.jpg") repeat-x;
}
.jiemian-section8 .section-content{
    margin-top: 80px;
    text-align: center;
}
.sub-title{
    margin: 0 auto ;
    width: 1105px;
    height: 84px;
    background: url("../images/sub-title.png") no-repeat;
}
.sub-title10{
    background: url("../images/title-10.png") no-repeat;
}
.sub-title1{
    background: url("../images/title-1.png") no-repeat;
}
.sub-title2{
    background-position: 0 -489px;
}
.sub-title3{
    background-position: 0 -600px;
}
.sub-title4{
    background-position: 0 -392px;
}
.sub-title5{
    background-position: 0 -198px;
}
.sub-title6{
    background-position: 0 -101px;
}
.sub-title7{
    background: url("../images/title-7.png") no-repeat;
}
.jiemian-title8{
    margin: 0 auto ;
    width: 1105px;
    height: 84px;
    background: url("../images/title-8.png") no-repeat;
}
.sub-section1 .section-content,.tanli2-section1 .section-content{
    width: 500px;
    margin: 150px 0 0 410px;
}
.jichu1-section1 .section-content{
    margin: 30px 0 0 650px;
    width: 520px;
}
.jiemian2-section1 .section-content{
    margin: 100px 0 0 200px;
}
.jiemian-section1 .section-content{
    margin: 100px 0 0 200px;
}
.sub-section1 .section-content h3,.tanli2-section1 .section-content h3{
    font-size: 48px;
    font-weight: 500;
}
.jichu1-section1 .section-content h3{
    font-size: 34px;
}
.sub-section1 .section-content h4,.tanli2-section1 .section-content h4{
    font-size: 24px;
    font-weight: 500;
}
.sub-section1 .section-content div,.tanli2-section1 .section-content div{
    margin-top: 50px;
}
.sub-section1 .section-content div p,.tanli2-section1 .section-content div p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}
.jichu1-section1 .section-content h4,.jichu1-section1 .section-content div p{
    font-size: 18px;
    line-height: 110%;
}
.tanli2-section1 .section-content{
    margin: 150px 0 0 620px;
}
.sub-section2 .section-content,.tanli2-section2 .section-content {
    margin: 39px 0 0 550px;
    width: 550px;
    font-size: 18px;
}
.tanli2-section2 .section-content{
    width: 600px;
}
.sub-section2 .section-content>p{
    width: 460px;
    text-indent: 35px;
    margin-left: 150px;
}
.tanli2-section2 .section-content>p{
    text-indent: 35px;
}
.sub-section2 .section-content>div{
    margin: 300px 0 0 -50px;
    width: 600px;
}
.fanghu-section2 .section-content div{
    margin-left: 0;
}
.tanli2-section2 .section-content >div{
    margin-top: 330px;
}
.sub-section2 .section-content>div p,.tanli2-section2 .section-content >div p{
    margin-bottom: 20px;
}
.sub-section3 .section-content .left{
    float: left;
    margin: 160px 0 0 30px;
}
.sub-section3 .section-content .right{
    float: left;
    margin: 145px 0 0 30px;
}
.sub-section3 .section-content .right .box{
    margin-bottom: 73px;
}
.sub-section3 .section-content .right .box p{
    font-size: 30px;
}
.sub-section3 .section-content .right .box h4{
    font-size: 48px;
    font-weight: 500;
}
.sub-section4 .section-content .box h4{
    font-weight: 500;
    font-size: 30px;
    color: #9e7858;
}
.sub-section4 .section-content .box p{
    font-weight: 400;
    color: #8c8c8c;
    font-size: 18px;
    line-height: 166%;
}
.sub-section4 .section-content .box1{
    padding-left: 450px;
    margin-top: 0;
    width: 666px;
}
.jiemian2-section4 .section-content .box1{
    padding-left: 430px;
    margin-top: 37px;
    width: 666px;
}
.jiemian-section4 .section-content .box1{
    padding-left: 420px;
}
.fanghu2-section4 .section-content .box1{
    padding-left: 450px;
    margin-top: 36px;
    width: 666px;
}
.fanghu-section4 .section-content .box1{
    padding-left: 112px;
    margin-top: -8px;
}
.sub-section4 .section-content .box2{
    padding-left: 108px;
    margin-top: 62px;
    width: 700px;
}
.jiemian2-section4 .section-content .box2{
    padding-left: 109px;
    margin-top: 70px;
    width: 700px;
}
.jiemian-section4 .section-content .box2{
    margin-top: 106px;
    padding-left: 113px;
}
.fanghu-section4 .section-content .box2{
    padding-left: 380px;
    margin-top: 82px;
}
.sub-section4 .section-content .box3{
    padding-left: 390px;
    margin-top: 102px;
    width: 725px;
}
.jiemian-section4 .section-content .box3{
    padding-left: 113px;
    margin-top: 100px;
}
.jiemian2-section4 .section-content .box3{
    padding-left: 430px;
    margin-top: 66px;
    width: 370px;
    height: 242px;
}
.fanghu2-section4 .section-content .box3{
    margin-top: 80px;
}
.fanghu-section4 .section-content .box3{
    padding-left: 112px;
    margin-top: 102px;
}
.tanli2-section4 .section-content .box3{
    margin-top: 73px;
}
.sub-section4 .section-content .box4{
    padding-left: 108px;
    margin-top: 95px;
    width: 700px;
}
.jiemian2-section4 .section-content .box4{
    padding-left: 108px;
    margin-top: 0;
    width: 700px;
}
.jiemian-section4 .section-content .box4{
    padding-left: 422px;
    margin-top: 100px;
}
.fanghu2-section4 .section-content .box4{
    margin-top: 100px;
}
.fanghu-section4 .section-content .box4{
    padding-left: 390px;
    margin-top: 100px;
}
.tanli2-section4 .section-content .box4{
    margin-top: 95px;
}
.sub-section4 .section-content .box5{
    padding-left: 390px;
    margin-top: 100px;
    width: 420px;
}
.jiemian2-section4 .section-content .box5{
    padding-left: 430px;
    margin-top: 92px;
    width: 420px;
}
.jiemian-section4 .section-content .box5{
    margin-top: 100px;
    padding-left: 422px;
}
.fanghu2-section4 .section-content .box5{
    margin-top: 115px;
}
.fanghu-section4 .section-content .box5{
    padding-left: 390px;
    margin-top: 86px;
    width: 420px;
}
.fanghu-section4 .section-content .box6{
    padding-left: 390px;
    margin-top: 49px;
    width: 420px;
}
.tanli2-section4 .section-content .box5{
    margin-top: 85px;
}
.sub-section5 .section-content div p{
    margin-top: 100px;
    width: 460px;
    margin-left: 585px;
    font-size: 18px;
    font-weight: 300;
}
.sub-section6 .section-content>div{
    margin: 20px auto 0;
    width: 800px;
}
.sub-section6 .section-content>div .box{
    margin-bottom: 20px;
}
.sub-section6 .section-content>div .box .right{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
}
.sub-section6 .section-content>div .box .right p{
    width: 680px;
    font-weight: 400;
}
.jichu1-section9{
    height: 646px;
    background: url("../images/jichu1-img9.jpg") no-repeat center top;
}
.jichu1-title9{
    width: 1104px;
    height: 74px;
    margin: 40px auto 0;
    background: url("../images/title-9.png") no-repeat;
}
.jichu1-section9 .section-content{
    width: 384px;
    margin: 50px 0 0 100px;
    color: #82614b;
}
.jichu1-section9 .section-content h3{
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 50px;
}
.jichu1-section9 .section-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}
.jichu1-section2{
    background-image: url("../images/jichu1-img4.jpg");
    height: 953px;
    padding-top: 40px;
}
.jichu1-section2 .jichu1-content{
    margin-top: 95px;
}
.jichu1-section2 .jichu1-content .box{
    color: #82614b;
    padding-left: 640px;
    width: 480px;
}
.jichu1-section2 .jichu1-content .box h3{
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 30px;
}
.jichu1-section2 .jichu1-content .box2{
    margin-top: 55px;
}
.jichu1-section2 .jichu1-content .box3{
    margin-top: 43px;
}
.jichu1-section2 .jichu1-content .box p{
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}
h3.yu{
    font-size: 34px;
    color: #82614b;
    font-weight: 500;
    line-height: 130%;
}
h4.yu{
    font-size: 24px;
    color: #82614b;
    font-weight: 500;
    line-height: 130%;
}
p.yu{
    font-size: 18px;
    color: #82614b;
    font-weight: 400;
    line-height: 160%;
}
.jichu1-section3{
    background: url("../images/jichu1-img3.jpg") no-repeat center top;
    height: 600px;
    padding-top: 30px;
}
.jichu1-section3 .section-content{
    margin-top: 60px;
}
.jichu1-section3 .section-content .box{
    padding-left: 150px;
    margin-bottom: 32px;
}
.jichu1-section4{
    background: url("../images/jichu1-img5.jpg") no-repeat center top;
    height: 391px;
    padding-top: 30px;
}
.jichu1-section4 .section-content{
    margin-top: 70px;
    padding-left: 605px;
}
.jichu1-section4 .section-content p{
    margin-top: 25px;
}
.jichu1-section5{
    background: url("../images/jichu1-img6.jpg") no-repeat center top;
    height: 393px;
    padding-top: 30px;
}
.jichu4-section5{
    background: url("../images/jichu4-img5.jpg") no-repeat center top;
    height: 507px;
    padding-top: 30px;
}
.jichu1-section5 .section-content{
    padding-left: 500px;
    margin-top: 80px;
}
.jichu4-section5 .section-content{
    padding-left: 750px;
    margin-top: 170px;
}
.jichu1-section6{
    background: url("../images/jichu1-img7.jpg") no-repeat center top;
    height: 613px;
    padding-top: 30px;
}
.jichu1-section6 .section-content{
    padding-left: 540px;
    margin-top: 74px;
}
.jichu1-section6 .section-content .box p{
    width: 500px;
}
.jichu1-section6 .section-content .box{
    margin-bottom: 43px;
}
.jichu6-section6{
    background: url("../images/jichu4-img6.jpg") no-repeat center top;
    height: 495px;
    padding-top: 30px;
}
.jichu6-section6 .section-content{
    margin-top: 30px;
}
.jichu1-section7{
    background: url("../images/jichu1-img8.jpg") no-repeat center top;
    height: 824px;
    padding-top: 30px;
}
.yu-footer{
    text-align: center;
    padding: 10px 0 0;
}
.jichu2-section1{
    background: url("../images/jichu2-img1.jpg") no-repeat center top;
    height: 824px;
    padding-top: 30px;
}
.jichu4-section1{
    background: url("../images/jichu4-img1.jpg") no-repeat center top;
    height: 826px;
    padding-top: 30px;
}
.jichu3-section1{
    background: url("../images/jichu3-img1.jpg") no-repeat center top;
    height: 610px;
}
.jichu2-section1 .section-content{
    padding-left: 650px;
    margin-top: 115px;
}
.jichu4-section1 .section-content{
    padding-left: 680px;
    margin-top: 115px;
}
.jichu3-section1 .section-content{
    padding-left: 650px;
    margin-top: 30px;
}
.jichu2-section1 .section-content h3{
    letter-spacing: 8px;
}
.jichu2-section1 .section-content .box{
    margin-top: 100px;
}
.jichu2-section1 .section-content .box .right{
    display: inline-block;
    width: 380px;
}
.jichu2-section2{
    background: url("../images/jichu2-img2.jpg") no-repeat center top;
    height: 612px;
    padding-top: 30px;
}
.jichu4-section2{
    background: url("../images/jichu4-img2.jpg") no-repeat center top;
    height: 400px;
    padding-top: 30px;
}
.jichu4-section2 .section-content{
    margin-top: 70px;
    margin-left: 130px;
}
.jichu4-section2 .section-content .left{
    width: 340px;
}
.jichu4-section2 .section-content .right{
    width: 340px;
    margin-left: 215px;
}
.jichu3-section2{
    background: url("../images/jichu3-img3.jpg") no-repeat center top;
    height: 612px;
    padding-top: 30px;
}
.jichu2-section2 .section-content{
    padding-left: 150px;
    margin-top: 90px;
}
.jichu2-section2 .section-content .box{
    margin-bottom: 20px;
}
.jichu3-section2 .section-content{
    padding-left: 150px;
    margin-top: 133px;
}
.jichu3-section2 .section-content p{
    margin-bottom: 26px;
    width: 380px;
}
.jichu2-section4{
    background: url("../images/jichu2-img4.jpg") no-repeat center top;
    height: 621px;
    padding-top: 30px;
}
.jichu4-section4{
    background: url("../images/jichu4-img4.jpg") no-repeat center top;
    height: 605px;
    padding-top: 30px;
}
.jichu4-section4 .section-content{
    padding-left: 530px;
    margin-top: 103px;
}
.jichu4-section4 .section-content .box{
    width: 600px;
    margin-bottom: 18px;
}
.jichu3-section4{
    background: url("../images/jichu3-img5.jpg") no-repeat center top;
    height: 609px;
}
.jichu2-section4 .section-content{
    padding-left: 750px;
    margin-top: 80px;
}
.jichu2-section4 .section-content p{
    width: 400px;
}
.jichu2-section4 .section-content p.p1{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #97735b;
}
.jichu3-section4 .section-content{
    padding-left: 600px;
    margin-top: 70px;
}
.jichu3-section4 .section-content p{
    width: 500px;
}
.jichu2-section7{
    background: url("../images/jichu2-img7.jpg") no-repeat center top;
    height: 829px;
    padding-top: 30px;
}
.jichu3-section8{
    background: url("../images/jichu3-img2.jpg") no-repeat center top;
    height: 1035px;
    padding-top: 30px;
}
.jichu3-section8 .section-content .top-box{
    padding-left: 710px;
    margin-top: 126px;
}
.jichu3-section8 .section-content .top-box .box{
    margin-top: 40px;
}
.jichu3-section8 .section-content .top-box .box p{
    margin-bottom: 25px;
}
.jichu3-section8 .section-content .bottom-box{
    margin-top: 120px;
    padding-left: 140px;
}
/*footer*/
.sub-footer{
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 79px;
    margin-top: 30px;
    background: url("../images/sub-foot.jpg") no-repeat center top;
}



