.zhaopin-title{
    height: 100px;
    padding-top: 70px;
}
.zhaopin-body .fl {
    width: 300px;
    height: 815px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.zhaopin-body .fl ul li{
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 48px;
}
.zhaopin-body .fl ul li a{
    display: inline-block;
    width: 150px;
    height: 49px;
    border-bottom: 1px solid #c8c5c1;
    font-size: 20px;
    color: #797166;
    cursor: pointer;
}
.zhaopin-body .fl video{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 240px;
}
.haerbing,.jinan{
    display: none;
}
.zhaopin-body .fl ul li:nth-child(3),.zhaopin-body .fl ul li:nth-child(4){
    letter-spacing: 6px;
    position: relative;
}
.zhaopin-body .fl ul li:nth-child(3) a,.zhaopin-body .fl ul li:nth-child(4) a{
    padding-left: 3px;
}
.zhaopin-body .fl ul li a:hover,.zhaopin-body .fl ul li a.active{
    background-color: #f5f5f5;
    color: #d6be8e;
}
.zhaopin-body .fr{
    width: 890px;
    height: 815px;
    border: 2px solid #c0a062;
    border-top: none;
    overflow: hidden;
    position: relative;
    background: #fff;
}
.fengongsi{
    margin-right: -20px;
    height: 70px;
    border-bottom: 1px solid #c0a062;
}
.fengongsi .box,.fengongsi .box1{
    float: left;
    width: 291px;
    height: 70px;
    margin-right: 6px;
    line-height: 69px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background-color: #c0a062;
    border: 1px solid #c0a062;
    border-bottom: none;
}
.fengongsi .box a{
    color: #fff;
}
.fengongsi .box2{
    width: 172px;
}
.fengongsi .box1{
    width: 890px;
}
.lianxi-content{
    padding-left: 100px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 40px;
    color: #756d62;
}
.fengongsi .box.active{
    color: #c0a062;
    background-color: #fff;
}
.fengongsi>div:first-child{
    position: relative;
    left: -1px;
}
.zhaopin-body .fr table{
    width: 100%;
}
.zhaopin-body .fr table td{
    height: 47px;
    padding-left: 15px;
    font-size: 16px;
    color: #787065;
}
.zhaopin-body .fr table td a{
    color: #787065;
}
.zhaopin-body .fr table tbody tr:nth-child(odd){
    background: #f5f5f5;
}
.zhaopin-body .fr table tbody tr:hover{
    background-color: #e0e0e0;
}
.page{
    position: absolute;
    bottom: 10px;
    left: 400px;
}
.page a{
    display: inline-block;
    margin-right: 7px;
    cursor: pointer;
}
.ren-box{
    position: relative;
    height: 740px;
    width: 100%;
}
.slide{
    position: absolute;
    left: 0;
    bottom: 31px;
    width: 100%;
    height: 355px;
}
.lunbo-box{
    width: 200%;
}
.lunbo-box .fl{
    color: #756d62;
    font-size: 18px;
    background-color: #f5f5f5;
}
.lunbo-box  p{
    padding-top: 50px;
    padding-left: 40px;
}
.gongzuo-box p,.peixun-box p,.yuangong-box p,.xinchou-box p,.runfang-box p{
    color: #756d62;
    font-size: 18px;
    margin-top: 40px;
    padding-left: 80px;
}
.gongzuo-box .row{
    margin-right: -20px;
    margin-top: 270px;
}
.gongzuo-box .row img{
    width: 293px;
    height: 163px;
    margin-right: 2px;
}
.peixun-box img{
    margin-top: 40px;
}
.yuangong-box img{
    margin-top: 35px;
}
.xinchou-box img{
    margin-top: 85px;
}
.runfang-box img{
    margin-top: 175px;
}
.job-content{
    padding:10px 0 10px 40px;
    color: #756d62;
    font-size: 18px;
}
.job-detail h4{
    width: 120px;
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
    color: #4c4c4c;
    font-size: 18px;
    background-color: #f5f5f5;
}
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    margin-top: 6px;
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
    display: none;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.slide{
    float: left;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 0px;
    background: url(../images/ad_ctr.png) no-repeat 0 0;
}

.bx-wrapper .bx-next {
    right: 0px;
    background: url(../images/ad_ctr.png) no-repeat 0 -70px;
}

.bx-wrapper .bx-prev:hover {
    background-color: rgba(0,0,0, 0.1);
}

.bx-wrapper .bx-next:hover {
    background-color: rgba(0,0,0, 0.1);
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    outline: 0;
    width: 72px;
    height: 70px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}



.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */



.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}
