@charset "utf-8";
html,body{font-family: STHeiti,"Source Han Sans CN",simhei;}
%widthAndHeight {
  width: 100%;
  height: 100%;
}
%allTransition {
  -moz-transition: all 0.65s;
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
}
@mixin center($width,$height) {
  position: absolute;
  width: $width;
  height: $height;
  top: 50%;
  left: 50%;
  margin-left: -$width / 2;
  margin-top: -$height / 2;
}
@mixin  animate($name,$time,$iteration,$direction) {
  -webkit-animation: $name $time $iteration $direction;
  -o-animation: $name $time $iteration $direction;
  animation: $name $time $iteration $direction;
}

.banner {
  position: relative;

  .img {
    @extend %widthAndHeight;
    position: relative;
    z-index: 1;
    opacity: .3;
    background: url("../images/banner-bg.jpg") no-repeat;

    background-size: cover;
  }
  .banner-mark{
    @extend %widthAndHeight;
    position: absolute;
    left: 0;
    top: 0;
    //background-color: rgba(207,73,98, 0.5);
    display: flex;
    align-items: center;
    z-index: 3;
    font-size: 16px;
    .banner-introduce{
      background-color: rgba(255,255,255, 0.6);
      box-shadow: 0 0 5px rgba(255,255,255, 0.75);
    }
  }
  .banner-bottom{
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: inline-block;
    text-align: center;
    font-size: 28px;
    width: 100px;
    height: 40px;
    margin-left: -50px;
    z-index: 4;
    i {
      position: relative;
      cursor: pointer;
      @include animate(scroll,0.75s,infinite,alternate);
    }
  }
}
@keyframes scroll {
  from {top: 0;}
  to   {top: 17px;}
}
.banner-introduce-btn {
  button{
    display: inline-block;
    width: 180px;
    height: 50px;
    margin: 0 15px 20px;
    border: 4px solid #e88f1c;
    background-color: rgba(232,143,28, 0.3);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    @extend %allTransition;
  }
  button.last {
    border: 4px solid #a5a5a5;
    background-color: rgba(165,165,165, 0.3);
  }
  button.first:hover{
    background-color: rgba(232,143,28, 1);
  }
  button.last:hover{
    background-color: rgba(165,165,165, 1);
  }
}

.banner-introduce-text{
  height: 70%;
  padding: 20px 25px;
  overflow: hidden;
  color: #3f3f3f;
}
.navbar-first {
  height: 60px;
  background-color: transparent;
  border: none;
  @extend %allTransition;
}
.navbar-first.navbar-second,.navbar-first:hover{
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 8px #444;
}
.navbar-first .navbar-nav > li > a{
  color: #419641;
}
.btn{
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}
.btn:hover{
  text-decoration: none;
}
$tabBtnWidth: 197px;
$tabBtnHeight: 77px;
$tabBtnFontSize: 18px;
$tabBtnYellow: yellow;
$tabBtnGray: gray;

%btn-tab{
  width: $tabBtnWidth;
  height: $tabBtnHeight;
  line-height: $tabBtnHeight - 1;
  font-size: $tabBtnFontSize;
}
.btn-gray{
  @extend .btn;
  @extend %btn-tab;
  border-color: $tabBtnGray;
  background-color: #fff;
  color: $tabBtnGray;
}
.btn-yellow{
  @extend .btn;
  @extend %btn-tab;
  border-color: $tabBtnYellow;
  background-color: $tabBtnYellow;
  color: #fff;
}
.in{
  background-color: #fff;
}
.jaya-row{
  margin-top: 15px;
  border: 1px solid #929292;
  border-radius: 6px;
  box-shadow: 0 0 8px #444;
  padding: 30px 0;
  font-size: 14px;
}
.project-row{
  padding: 15px 0;
  border-bottom: 1px solid #929292;
  .col-md-8{
    h4,p{
      position: relative;
      padding-left: 100px;
    }
    h4:before{
      content: '项目名称';
      position: absolute;
      top:0;
      left: 0;
      font-size: 18px;
      line-height: 1.1;
      font-weight: 500;
    }
  }
}
.work-row{
  .col-md-8{
    h4:before{
      content: '公司名称';
    }
  }
}
.dhu-row{
  .col-md-8{
    h4:before{
      content: '就读学校';
    }
  }
}
footer{
  min-width: 1200px;
  background-color: #2f2f2f;
  color: #fff;
  padding: 30px 0;
  margin-top: 15px;
  section{
    min-height: 80px;
  }
}
#wavybg-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
@media (max-width: 680px) and (min-width: 1px){
  .banner{
    .img{
      background: url("../images/banner-bg1.jpg") no-repeat;

    }
  }
}